.carList {
    padding: 1rem;
  }
  
  .carList ul {
    list-style: none;
    padding: 0;
  }
  
  .carList li {
    margin-bottom: 1.0rem;
  }
  
  .carList button {
    margin-left: 1rem;
    padding: 0.3rem 0.6rem;
    background-color: #dc359c;
    color: #fff;
    border: 1.0 ;
    cursor: pointer;
  }
  
  .carList button:hover {
    background-color: #dc359c;
  }