.form {
    display: flex;
    flex-direction: column;
  }
  
  .form div {
    margin-bottom: 1rem;
  }
  
  .form label {
    margin-right: 1rem;
  }
  
  .form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .form button {
    padding: 0.5rem 1rem;
    background-color: #b300aa;
    color: #fff;
    border: 1.0;
    cursor: pointer;
    width: 100px;
    
  }
  
  .form button:hover {
    background-color: #b300aa;
  }